<html>
<head>
    <link href="../public/favicon.ico" type="image/x-icon" rel="icon" />
</head>
  <body>
    <style>
      #outgoing {
        width: 600px;
        word-wrap: break-word;
      }
    </style>
    <form id="form1">
      <textarea id="incoming"></textarea>
      <button type="submit">submit</button>
    </form>
    <pre id="outgoing"></pre>

    <hr>

    <form id="form2">
      <h1>your inbox</h1>
      <p id="demo"></p>
      <hr>

      <textarea id="textArea">
      </textarea>
      <button type="submit">send</button>
    </form>
    <hr>
      <script src="../public/js/simplepeer.min.js"></script>
      <script src="../public/js/bundle.js"></script>
  </body>
</html>